*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: black;
}
header {
    margin: -20px -10px 10px -10px;
    background-color: #6495ED;
    padding: 20px;
    padding-top: 0px;
    height: 50px;
    color: white;
    text-align: center;
    border-radius: 0 0 20px 20px;
}
/*
*/
#scid{
    width: 500px;
    height: 35px;
    margin-top: 18px;
    border: white;
    border-radius: 20px;
    text-align: center;
}
#sc{
    text-align: center;
}

#dadoss{
height: 80px;
}
.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
body {
    background-color: #a4c8e4;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #83a8ee;
    border-radius: 50;
    padding: 20px 40px;
    height: auto;
}

.item-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

button{
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(197, 196, 201);
    border-radius: 10px 10px;
    transition: background-color 0.3s ease;
    border-style:groove;
}

button:active{
    position: relative;
    top:5px;
    box-shadow: none;
}
button:hover {
    background-color: #26385a;
    color: white;
    border-color: black;
}

.box{
	width:160px;
	background-color:#fcfcfc;
	border-radius: 10px 10px;
    text-align: center;

}
label {
    display: block;
    text-align: left;
}

#descEJS{
    max-width: 100%; /* Largura máxima desejada (Garante que a descrição não faça a pagina sair) */
    overflow: hidden;
}
.valor {
    position: relative;
}

#descricao{
    width: 400px;
    height: 100px;
    border-width: 3px;
    border-style: groove;
    border-radius: 20px;
}