<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Produto</title>
</head>
<body>
    <h1>Produto Adicionado</h1>
<p>ID: <%= id %></p>
<p>Nome: <%= nome %></p>
<a href="http://localhost:3333">
    <button> Voltar</button>
</a>
</body>
</html>