<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Alterar produto</title>
    <!-- Pagina destinada a alterar dados do produto selecionado, mostrando o ID (que continuara o mesmo) e possibilitando que o usuario altere nome, preço, descrição e quantidade -->
</head>

<body>
    <header>
        <form action="/search" method="POST">
            <p id ="sc">
                <input type="text" name="scid" id="scid" placeholder="Buscar por ID ou Nome do produto">
            <button type="submit">OK</button>
            </p>
        </form>
    </header>
    <form action="/alter" method="POST">
        <fieldset id="dados">
            <legend>Dados</legend>
            <p>ID: <%= id %></p>
            <p> <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" > </p>
            <p> <label for="preco">Preço:</label>
                <input type="number" step="0.01" min="0.01" name="preco" id="preco"> </p>
            <p> <label for="descricao">Descrição:</label>
                <input type="text" name="descricao" id="descricao"> </p>
                <p> <label for="qtd">Quantidade:</label>
                    <input type="number" name="qtd" min="0" id="qtd"> </p>
                
        </fieldset>
        <input type="hidden" name="id" value="<%= id %>">
        <button type="submit">OK</button>
    </form>
    <a href="http://localhost:3333">
        <button> Voltar</button>
    </a>
</body>
</html>