<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>ERRO!!!</title>
    <!-- Pagina Generica de erro sem uma mensagem especifica. A depender do erro, a pagina de erro sera renderizada para o usuario com
    uma mensagem correspondente -->
</head>
<body>
    <header>
        <form action="/search" method="POST">
            <p id ="sc">
                <input type="text" name="scid" id="scid" placeholder="Buscar por ID ou Nome do produto">
            <button type="submit">OK</button>
            </p>
        </form>
    </header>
    <h1>  <%= message %> </h1>
    <a href="http://localhost:3333">
        <button> Voltar</button>
    </a>
</body>
</html>